.form-container {
  background: #fff;
  padding: 30px;
  max-width: 400px;
  margin: 40px auto;
  border-radius: 16px;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
  font-family: sans-serif;
}

.form-title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
  color: #1e1e1e;
}

.product-form label {
  display: block;
  margin-bottom: 6px;
  font-weight: 500;
  color: #333;
}

.product-form input,
.product-form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 18px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 14px;
}

.submit-btn {
  background-color: #062d4e;
  color: #fff;
  border: none;
  padding: 12px;
  border-radius: 10px;
  font-size: 16px;
  width: 100%;
  cursor: pointer;
}

.submit-btn:hover {
  background-color: #0e3e68;
}
