.card {
 width: 25px;
  height: 25npm px;       
  border-radius: 100%;    
  overflow: hidden;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  transition: transform 0.3s ease;
}

.card:hover {
  transform: scale(1.05);
  cursor: pointer;
}

.card-img-top {
  width: 50px;
  height: 50px;
  border-radius: 60%;   
  object-fit: cover;
  margin-bottom: 15px;
  box-shadow: 0 0 8px rgba(0,0,0,0.15);
}

.card-body {
  text-align: center;
}

.card-text {
  font-weight: 600;
  font-size: 1.1rem;
  margin: 0;
}

.heading {
  text-align: center;
  margin-bottom: 30px;
  gap: 20px;
}

card-content{
  display: flex;
  flex-wrap: wrap;
  justify-content: right;
  gap: 25px;
}
