.nav-link-logo {
    font-family: "Figtree", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    color: black;
    text-decoration: none;

}

.nav-item {
  font-family: "Assistant", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  color: black;
}

.nav-icon {
    margin: 5px;
    width: 30px;
    color: black;
    
}

.nav-icon-search{
  background-color: white;
  border-radius: 9999px; /* fully rounded */
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 50px;
  width: 600px; /* you can adjust this */
  max-width: 90%;
  padding: 0 20px;
  margin: 0 auto; /* center horizontally */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);


}
.nav-item-name {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 20px;
    color: black;
}

.nav-icon-search {
  background-color: white;
  border-radius: 9999px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 50px;
  width: 750px; 
  max-width: 90%;
  padding: 0 20px;
  margin: 0 20px 0 250px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.login-icon{
  padding-right: 30px;


}

.nav-icon{
  padding-right: 20px;

}


